<div class="center hero-unit">
  <h1>SeiyaApp</h1>
	<h2>
	  これはhomeページです。
	  <a href="http://flightattendant.boo.jp">ANAから内定をもらうまでにしたこと</a>
	  <br>SeiyaApp<br>
	</h2>
  <%= link_to "Sign up Now", "#", class: "btn btn-large btn-primary" %>
</div>
<!--<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>-->