<%= provide(:tittle, @user.name) %>
<div>
	<asaide class="row">
		<section class="span4">
			<h1>
			<%= gravatar_for @user %>
			<%= @user.company %>
			<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>