<li>
  <span class="content"><%= shiftdate.date %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(shiftdate.created_at) %> ago.
  </span>
  <% if current_user?(shiftdate.user) %>
    <%= link_to "delete", shiftdate, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: shiftdate.date %>
  <% end %>
</li>